<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?= $data['title'] ?></title>
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<?php include 'resources/template/containers/header.html'; ?>

    <div class="container">
        <?php include $template ?>
    </div>

<?php include 'resources/template/containers/modal.html' ?>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>